:root {
	/* ----------Fonts--------- */
	--main-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;

	/* ----------Text--------- */
	--main-text-cl: #757575;
	--main-title-cl: #212121;
	--hero-text-cl: #ffffff;

	/* ----------Background--------- */
	--main-bg-cl: #2f303a;
	--card-bg-cl: #ffffff;
	--team-bg-cl: #f5f4fa;
}
