.footer-title-link {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
}

.social-links-footer {
	display: block;
	width: 206px;
	margin-right: 93px;
}

.social-footer-list {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.social-footer-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: #2196f3;
	}
}

.footer-icon {
	fill: #ffffff;
}
