.team {
	background-color: var(--team-bg-cl);
	padding-top: 94px;
	padding-bottom: 94px;
}

.team-list {
	display: flex;
	gap: 30px;
}

.section-title {
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
	color: var(--main-title-cl);
	margin-bottom: 50px;
}

.list-card {
	background-color: var(--card-bg-cl);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
	padding-bottom: 30px;
}

.team-title {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	color: var(--main-title-cl);
	margin-top: 30px;
	margin-bottom: 10px;
}

.team-text {
	font-size: 16px;
	line-height: calc(19 / 16);
	color: var(--main-text-cl);
}
